<html>

<body style="background: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">

<div style="max-width:700px;padding:20px;background:#fff;border-radius:5px;margin:0 auto;font-family: Open Sans,Helvetica,Arial;font-size: 15px;color: #666;">

	<div style="color:#444;font-weight:normal;">
		<div style="text-align:left;font-weight:600;font-size:20px;padding:10px 0; color:#005790">WPBruiser - Notification</div>
		<div style="clear:both"></div>
	</div>

	<div style="padding:5px;border-top:solid 3px #eee;">
		{email-body-content}
	</div>

	<div style="color: #999;padding: 10px 0; border-top:3px solid #eee; margin-top: 30px;">
		<div style="">Enjoy a Spam-Free and Bot-Free Wordpress site!</div>
		<div style="">The <a href="http://www.wpbruiser.com/" style="color: #3ba1da;text-decoration: none;">WPBruiser</a> Team</div>
	</div>

	<div style="margin-top:10px; padding:15px;background:#eee;border-radius:3px;text-align:center;">If you need any assistance, please feel free to <a href="http://www.wpbruiser.com/contact/" style="color:#3ba1da;text-decoration:none;">contact us</a>.</div>

</div>

</body>
</html>